.app__container-1568 {
  padding: 35px 176px !important;
  background: #141414;
  color: rgba(255, 255, 255, 0.85);
}
.app__container-1168 {
  padding: 33px 99px;
  background: #141414;
  color: rgba(255, 255, 255, 0.85);
}
.app__container-960 {
  padding: 33px 32px;
  background: #141414;
  color: rgba(255, 255, 255, 0.85);
}
.app__row{
  background: #141414;
  display: block;
  padding: 0;
}

.block {
  background: #13a8a8;
  opacity: 0.2;
  border-radius: 8px;
  margin-bottom: 24px;
}
.p__1 {
  height: 276px;
}
.p__2 {
  height: 276px;
}
.p__3 {
  height: 923px;
}
.p__4 {
  height: 89px;
}
.p__5 {
  height: 266px;
}
.p__6 {
  height: 401px;
}
.p__7 {
  height: 401px;
}
.p__8 {
  height: 326px;
}
.p__9 {
  height: 128px;
}
